apiVersion: kubevirt.io/v1
kind: VirtualMachine
metadata:
  name: {{ _vm_name }}
  namespace: {{ ocp4_workload_agent_compact_vms_namespace }}
  labels:
    cluster-name: {{ _cluster_name }}
    workload: agent-compact-vms
    workshop: {{ ocp4_workload_agent_compact_vms_workshop_name }}
spec:
  running: true
  template:
    metadata:
      labels:
        cluster-name: {{ _cluster_name }}
        node-role: master
    spec:
      domain:
        cpu:
          cores: {{ ocp4_workload_agent_compact_vms_vcpu }}
          sockets: 1
          threads: 1
        devices:
          disks:
          - name: rootdisk
            bootOrder: 2
            disk:
              bus: virtio
          - name: installiso
            bootOrder: 1
            cdrom:
              bus: sata
          interfaces:
          - name: default
            masquerade: {}
            model: virtio
        memory:
          guest: {{ ocp4_workload_agent_compact_vms_memory }}
        resources:
          requests:
            memory: {{ ocp4_workload_agent_compact_vms_memory }}
      networks:
      - name: default
        pod: {}
      volumes:
      - name: rootdisk
        dataVolume:
          name: {{ _vm_name }}-rootdisk
      - name: installiso
        dataVolume:
          name: {{ _vm_name }}-installiso
  dataVolumeTemplates:
  - metadata:
      name: {{ _vm_name }}-rootdisk
    spec:
      pvc:
        accessModes:
        - ReadWriteOnce
        resources:
          requests:
            storage: {{ ocp4_workload_agent_compact_vms_disk_size }}
        storageClassName: {{ ocp4_workload_agent_compact_vms_storage_class }}
        volumeMode: Block
      source:
        blank: {}
  - metadata:
      name: {{ _vm_name }}-installiso
    spec:
      pvc:
        accessModes:
        - ReadWriteOnce
        resources:
          requests:
            storage: 2Gi
        storageClassName: {{ ocp4_workload_agent_compact_vms_storage_class }}
      source:
        http:
          url: {{ _iso_download_url }}
