apiVersion: extensions.hive.openshift.io/v1beta1
kind: AgentClusterInstall
metadata:
  name: {{ _cluster_name }}
  namespace: {{ ocp4_workload_agent_sno_vms_namespace }}
  labels:
    cluster-name: {{ _cluster_name }}
    workload: agent-sno-vms
    workshop: {{ ocp4_workload_agent_sno_vms_workshop_name }}
spec:
  clusterDeploymentRef:
    name: {{ _cluster_name }}
  imageSetRef:
    name: openshift-v{{ ocp4_workload_agent_sno_vms_openshift_version }}
  provisionRequirements:
    controlPlaneAgents: 1
    workerAgents: 0
  networking:
    machineNetwork:
    - cidr: {{ _machine_network_cidr }}
    clusterNetwork:
    - cidr: {{ ocp4_workload_agent_sno_vms_cluster_network_cidr }}
      hostPrefix: 23
    serviceNetwork:
    - {{ ocp4_workload_agent_sno_vms_service_network_cidr }}
  sshPublicKey: {{ ocp4_workload_agent_sno_vms_ssh_public_key }}
